.d-card{background: #f7f7f7;box-shadow: 0 6px 11px 0 rgba(237,237,237,0.39); margin-bottom: 20px;     min-height: 350px;}
.d-card:hover{background: #ffffff;	box-shadow: 0 10px 15px 0 #E1DADA;}
.d-card:hover .d-card-header:before{border-bottom: 5px solid #ffffff;}
.d-card-header{	background:linear-gradient(223.5deg,#ff795f 0,#f94f6f 97.89%); padding: 20px; position: relative; max-height: 57px;}
.d-card-header:before{width: 0;height: 0; border-left: 5px solid transparent;border-right: 5px solid transparent;border-bottom: 5px solid #f7f7f7; position: absolute; bottom: 0;
left: 50px; content: "";}
.card-title{display: flex; justify-content: space-between;}
.card-title .ytd{font-size: 24px; color: #ffffff; text-align: right; position: relative; line-height: 1; margin: 0;}
.card-title .ytd span{font-size: 14px;}
.card-title h4{color: #ffffff; font-size: 16px; text-transform: uppercase; letter-spacing: 1px; margin: 0;}
.card-content{padding: 20px;}
.cat-content .cat-title{margin-bottom: 10px;}
.cat-title{display: flex; position: relative;justify-content: space-between; font-size: 14px; text-transform: uppercase; color: #276EDB; letter-spacing: 1px; margin: 0;}
.cat-content{padding-left: 15px; margin: 15px 0 25px;}
.cat-content ul{list-style: none; padding:0;}
.cat-content ul li{font-size: 12px; margin-bottom: 10px; display: flex; justify-content: space-between;}
.star-filled{background: url('../icons/star-filled.png') no-repeat center top; height: 8px; width: 8px; display: inline-block;}
.star-blank{background: url('../icons/star-blank.png') no-repeat center top; height: 8px; width: 8px; display: inline-block;}
.arrow-up{background: url('../icons/green.svg') no-repeat center top; height: 12px; width: 9px; display: inline-block;}
.arrow-up-reverted{background: url('../icons/green.svg') no-repeat center top; top:2px!important; transform: rotate(180deg); /* Standard syntax */ height: 12px; width: 9px; display: inline-block;}
.arrow-down{background: url('../icons/red.svg') no-repeat center top; height: 12px; width: 9px; display: inline-block;}
ul li{position: relative;}
[class^="arrow"]{position: absolute; top: 3px; right: -13px;}
.mb-0{margin-bottom:0;}
.mb-2{
  margin-bottom: 20px;
}
.mt-2{
  margin-top: 20px;
}
.compressed li{
  margin-bottom: 0!important;
}
button.current{
  box-shadow: 0 10px 15px 0 #E1DADA;
  background: #ffffff;
}
.tab-btn button{ color: #333333;}
.site-logo{
  width: 15%;
}
.site-logo img{max-width: 100%;}
.header-new{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-right{
  display: flex;
  justify-content: space-between;
}



.d-flex {
  display: flex;
}

.d-inline-block {
  display: inline-block;
}

.justify-space-between {
  justify-content: space-between;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-0 {
  margin-bottom: 0;
}

.mb-15 {
  margin-bottom: 15px;
}

.mt-0 {
  margin-top: 0;
}

.chart-container {
  padding: 22px 20px;
  background: #fff;
}

#pr-device-type-pie {
    height: 240px;
}

.statistics-container {
        padding: 30px 25px 40px;
    background: #ffff;
}

.scrollable-table {
    max-height: 190px;
    overflow-y: auto;
}

.tab-panel {
  display: flex;
  justify-content: flex-end;
}
.tab-panel li a {
  text-decoration: none;
  color: #000;
}
.tab-panel li a:hover {
  box-shadow: 0 0px 8px 3px #ccc; 
}
.tab-panel li a.active {
    background-color: #fff;
    font-weight: 600;
    box-shadow: 0 0px 8px 3px #ccc; 
}



.card-view{
  width: 100%;
  border: 1px solid #E4EFFB;
  box-shadow: 0 3px 7px 0 #E7F0F3;
  margin-bottom: 30px;
  background: #fff;
  text-align: center;
  height: 365px;
  font-family: "Open Sans";
}
.card-view h4{
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-view .count-numbers{
  color: #9C9C9C;
  font-size: 30px;
  font-weight: 300;
  line-height: 34px;
  font-family: "Open Sans";
}
.bottom-row-text{
  color: #4C4D4D;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 14px;
}
.card-view .Graph{
  width: 190px;
  height: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.card-view  .progress{
  background: #1D9DBD;
  margin-bottom: 0;
  height: 10px;
}
.data-table-graphs {
  padding: 10px 20px;
}
.data-table-graphs td{
  color: #4A4A4A;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 17px;
  text-align: right;
  height: 30px;
  vertical-align: middle;
  padding: 7px 0;
}
.data-table-graphs td.description{
  width:38%;
  padding-right: 10px;
}
.data-table-graphs td.text-left{
  text-align: left;
}


.apn-data-table{
  padding: 10px 25px;
}
.apn-data-table table{
  width:100%;
}
.apn-data-table th{
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 17px;
  text-align: left;
  padding:12px 0px;

}
.apn-data-table th.text-right{
  text-align: right;
}
.data-table-graphs.current-trip .description{
  width:28%;
}
.apn-data-table td{
  color: #333333;
  font-size: 12px;
  letter-spacing: 0.23px;
  line-height: 17px;
  padding: 12px 0px;
  text-align: left;
}
.apn-data-table td.text-right{
  text-align: right;
}
.apn-data-table .description{
  width:25%;
}
.comparison{
  color: #333333;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.55px;
  line-height: 15px;
  margin: 40px 0;
}
.comparison img {
  position: relative;
  top: 2px;
  height: 18px;
}
.comparison span{
  color: #626262;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 15px;
  font-weight: normal;
}
.tab-data-view{
  width: 60%;
  margin: 40px auto;
  display: flex;
}
.tab-data-view .column-view{
  width: 33%;
  color: #333333;
  font-family: "Open Sans";
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 14px;
  text-align: center;
}
.tab-data-view .column-view div + div{
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 19px;
}
.card-view .nav-tabs>li{
  width: 25%;
}
.card-view .nav li > a:hover > span{
  color: #5F768D;
}
.card-view .nav-tabs>li span{
  display: block;
}
.card-view .nav-tabs>li>a{
  background: #D9E1E9;
  color: #5F768D;
  font-size: 11px;
}
#categorieTab .nav{
  padding: 0;
}
.card-view .nav-tabs>li>a span{
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 17px;
  display: block;
  width: 100%;
}
.card-view .nav-tabs>li>a span:after{
  display: none;
}
.card-view .nav-tabs{
  border-bottom: 0px solid #ddd;
}
.card-view .nav-tabs > li.active > a,
.card-view .nav-tabs > li.active > a:hover,
.card-view .nav-tabs > li.active > a:focus,
.card-view .nav-tabs > li a:hover{
  color: #5F768D;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
h2.Permanent-roamer{
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  margin: 20px 0;
}
.togggle-switch input + label{
  width: 22px;
  height: 12px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  top: 2px;


}
.togggle-switch input + label:before{
  content: '';
  position: absolute;
  height: 10px;
  width:  10px;
  transition: all 0.2s ease;
  background: #afc0c5;
  border-radius: 50%;
  left: 10px;
}
.togggle-switch input[type=checkbox]:checked + label:before{
  transition: all 0.5s ease;
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background: #23AED8;
  border-radius: 50%;
  left: 0px;

}
.togggle-switch input{
  display: none;
}
.card-view .map-view {
  width: 90%;
  max-height: 230px;
}


.chart,
.chart2{
  display: block;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 250ms linear;
  overflow: hidden;
}

.center-legends{
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  height: 113px;
}
.center-legends ul{
  padding: 0;
  margin-top: 10px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}
span.light {
  font-weight: lighter;
}
.dot {
  height: 9px;
  width: 9px;
  display: inline-block;
  background: #ccc;
  border-radius: 50%;
  margin-right: 4px;
}
.dot.red{ background: #E14930;}
.dot.yellow{ background:#E59E10 ;}
.dot.blue{ background: #2E9CC0;}
.center-legends ul li{
  display: block;
}
.flag{
  position: relative;
  top: 3px;
}


.card-view{
  width: 100%;
  border: 1px solid #E4EFFB;
  box-shadow: 0 3px 7px 0 #E7F0F3;
  margin-bottom: 30px;
  background: #fff;
  text-align: center;
  height: 365px;
  font-family: "Open Sans";
}
.card-view h4{
  color: #333333;
  font-family: "Open Sans";
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 27px;
  font-weight: lighter;
  margin-top: 30px;
  margin-bottom: 10px;
}

.card-view .count-numbers{
  color: #9C9C9C;
  font-size: 30px;
  font-weight: 300;
  line-height: 34px;
  font-family: "Open Sans";
}
.bottom-row-text{
  color: #4C4D4D;
  font-size: 10px;
  font-weight: 600;
  letter-spacing: 2px;
  line-height: 14px;
}
.card-view .Graph{
  width: 190px;
  height: 11px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
}
.card-view  .progress{
  background: #1D9DBD;
  margin-bottom: 0;
  height: 10px;
}
.data-table-graphs {
  padding: 10px 20px;
}
.data-table-graphs td{
  color: #4A4A4A;
  font-size: 12px;
  letter-spacing: 1px;
  line-height: 17px;
  text-align: right;
  height: 30px;
  vertical-align: middle;
  padding: 7px 0;
}
.data-table-graphs td.description{
  width:38%;
  padding-right: 10px;
}
.data-table-graphs td.text-left{
  text-align: left;
}


.apn-data-table{
  padding: 10px 25px;
}
.apn-data-table table{
  width:100%;
}
.apn-data-table th{
  color: #333333;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.6px;
  line-height: 17px;
  text-align: left;
  padding:12px 0px;

}
.apn-data-table th.text-right{
  text-align: right;
}
.data-table-graphs.current-trip .description{
  width:28%;
}
.apn-data-table td{
  color: #333333;
  font-size: 12px;
  letter-spacing: 0.23px;
  line-height: 17px;
  padding: 12px 0px;
  text-align: left;
}
.apn-data-table td.text-right{
  text-align: right;
}
.apn-data-table .description{
  width:25%;
}
.comparison{
  color: #333333;
  font-size: 11px;
  font-weight: bold;
  letter-spacing: 0.55px;
  line-height: 15px;
  margin: 40px 0;
}
.comparison img {
  position: relative;
  top: 2px;
  height: 18px;
}
.comparison span{
  color: #626262;
  font-size: 11px;
  letter-spacing: 0.55px;
  line-height: 15px;
  font-weight: normal;
}
.tab-data-view{
  width: 60%;
  margin: 40px auto;
  display: flex;
}
.tab-data-view .column-view{
  width: 33%;
  color: #333333;
  font-family: "Open Sans";
  font-size: 10px;
  letter-spacing: 0.5px;
  line-height: 14px;
  text-align: center;
}
.tab-data-view .column-view div + div{
  font-size: 14px;
  color: #333333;
  font-weight: 600;
  letter-spacing: 0.7px;
  line-height: 19px;
}
.card-view .nav-tabs>li{
  width: 25%;
}
.card-view .nav li > a:hover > span{
  color: #5F768D;
}
.card-view .nav-tabs>li span{
  display: block;
}
.card-view .nav-tabs>li>a{
  background: #D9E1E9;
  color: #5F768D;
  font-size: 11px;
}
#categorieTab .nav{
  padding: 0;
}
.card-view .nav-tabs>li>a span{
  text-transform: capitalize;
  font-size: 12px;
  letter-spacing: 0.86px;
  line-height: 17px;
  display: block;
  width: 100%;
}
.card-view .nav-tabs>li>a span:after{
  display: none;
}
.card-view .nav-tabs{
  border-bottom: 0px solid #ddd;
}
.card-view .nav-tabs > li.active > a,
.card-view .nav-tabs > li.active > a:hover,
.card-view .nav-tabs > li.active > a:focus,
.card-view .nav-tabs > li a:hover{
  color: #5F768D;
  cursor: default;
  background-color: #fff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;
}
h2.Permanent-roamer{
  color: #333333;
  font-size: 24px;
  font-weight: 600;
  line-height: 33px;
  margin: 20px 0;
}
.togggle-switch input + label{
  width: 22px;
  height: 12px;
  background: #fff;
  border-radius: 5px;
  position: relative;
  margin-bottom: 0;
  cursor: pointer;
  border: 1px solid #ccc;
  top: 2px;


}
.togggle-switch input + label:before{
  content: '';
  position: absolute;
  height: 10px;
  width:  10px;
  transition: all 0.2s ease;
  background: #afc0c5;
  border-radius: 50%;
  left: 10px;
}
.togggle-switch input[type=checkbox]:checked + label:before{
  transition: all 0.5s ease;
  content: '';
  position: absolute;
  height: 10px;
  width: 10px;
  background: #23AED8;
  border-radius: 50%;
  left: 0px;

}
.togggle-switch input{
  display: none;
}
.card-view .map-view {
  width: 90%;
  max-height: 230px;
}


.chart,
.chart2{
  display: block;
  height: 300px;
  width: 500px;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  transition: all 250ms linear;
  overflow: hidden;
}

.center-legends{
  width: 200px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 10;
  height: 113px;
}
.center-legends ul{
  padding: 0;
  margin-top: 10px;
  line-height: 30px;
  font-size: 12px;
  font-weight: bold;
}
span.light {
  font-weight: lighter;
}
.dot {
  height: 9px;
  width: 9px;
  display: inline-block;
  background: #ccc;
  border-radius: 50%;
  margin-right: 4px;
}
.dot.red{ background: #E14930;}
.dot.yellow{ background:#E59E10 ;}
.dot.blue{ background: #2E9CC0;}
.center-legends ul li{
  display: block;
}
.flag{
  position: relative;
  top: 3px;
}

/******TABS*****/
.tabs {
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.tabs-pattern,
.tabs-pattern>li>a,
.tabs-pattern>li.active>a,
.tabs-pattern>li.active>a:hover,
.tabs-pattern>li.active>a:focus {
  border: 0;
}
.tabs-pattern>li.active>a {
  box-shadow: 0 5px 4px 0 #ccc;
}