@import url('https://fonts.googleapis.com/css?family=Maven+Pro');
body {
	background: #2a3542;
	font-family: 'Roboto', sans-serif;
}

header {
	height: auto;
}
p {
	color: white;
}
.white {
	color: white !important;
}

.backWhite {
	background: white;
}

.firstLayer {
	width: 100%;
}
.roboto18
{
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
}
.arrowRight {
	-webkit-appearance: none;
	background: url("images/icons/iconMvoda.png") no-repeat;
	background-position: 100%;
}

.secondLayer {
	margin-top: 20px;
	width: 100%;
}

.iconsMenu {
	overflow: hidden;
	    list-style: none;
}

.iconsMenu>li {
	float: left;
	margin-right: 10px;
}

.iconsMenu>li:nth-child(6) {
	margin-right: 0 !important;
}

.searchIconLast {
	margin-right: 0 !important;
}

.p15 {
	padding: 15px;
}

.search {
	padding: 2px 5px;
	width: 300px;
	float: right;
	box-shadow: 0 0 1px 0 grey !important;
	margin: 10px 0;
}

.search>input {
	box-shadow: none !important;
}

.pageSearch>input {
	border: 0;
}

table {
	font-size: 12px;
	margin-bottom: 0 !important;
}

.backWhite>thead {
	font-weight: 500;
	background: whitesmoke;
}

.opacityChange {
	opacity: 1 !important;
}

.dateStyle {
	box-shadow: none;
	border-right: 0;
	font-family: 'Maven Pro', sans-serif;
}

.withoutBox {
	box-shadow: none !important;
}

.fetchDate {
	background: #e3e3e3;
	color: #333;
	padding: 8px;
	border-radius: 20px;
	font-size: 13px;
}

#leftArrow {
	display: flex;
	align-items: center;
}

#leftArrow>a {
	margin-right: 8px;
}

#iconsMenuLeft {
	padding: 8px 0;
}

.searchFa {
	color: #888;
	background: white;
	border: 0;
}

.searchFa>a>i {
	color: #888;
}

.showFilters {
	padding: 15px 0;
}

.networkDiv {
	background: white;
	padding: 0 15px;
	border-radius: 5px 5px 0 0;
}

.networkDiv>div {
	padding: 15px 0;
}

.stripRow>thead>tr>td {
	padding-right: 25px;
}

.stripRow>thead>tr>td>div {
	display: flex;
	justify-content: center;
}

.arrowDown {
	-webkit-appearance: none;
	background: url('../images/icons/icon-7.png') no-repeat;
	background-position: 100%;
	font-weight: 500;
	margin: 0 auto;
	width: 105px;
}
.arrowDownModal {
	-webkit-appearance: none;
	background: url('../images/icons/icon-7.png') no-repeat;
	background-position: 97%;
	font-weight: 500;
}

.stripRow>thead>tr>td:nth-child(1) {
	border-right: 1px solid lightgrey;
	width: 180px;
}

.stripRow>thead>tr>td>p {
	color: #333;
	text-align: center;
	font-size: 13px;
	font-weight: 500;
}

.stripRow>thead>tr>td>h4 {
	font-size: 28px;
	text-align: center;
}

.withoutBorder {
	border: 0 !important;
}

.mt-15 {
	margin-top: 15px;
}

.mainTableRow {
	padding: 0 18px;
	background: white;
	border-radius: 0 0 5px 5px;
}

.mainTableRow>div {
	padding: 0;
	width: 100%;
}

.networkContainerDiv {
	background: whitesmoke;
	border-radius: 2px;
}

.modalClass {
	display: flex;
	justify-content: center;
	padding: 20px;
	width: 100%;
}

.modalClass>button {
	margin-right: 5px;
	border-radius: 20px;
	padding: 7px 23px;
	border: 1px solid #5bc0de;
	color: #5bc0de;
}

.modal-title {
	font-size: 16px !important;
}

.modalForm>div>input {
	box-shadow: none !important;
}

/*.modal-dialog {
	margin: 150px auto !important;
}*/
.modal-dialog {
  min-height: calc(100vh - 60px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}


.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
	background-color: #6dabd7;
	filter: "alpha(opacity=90)";
	-ms-filter: "alpha(opacity=90)";
}

.mCSB_scrollTools .mCSB_draggerContainer {
	right: 12px !important;
}

.mCSB_scrollTools .mCSB_draggerRail {
	background: transparent !important;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	/* the dragger element */
	/*height: auto;*/
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
	background: #6dabd7 !important;
}

.leftSide
{
	width: 26%;
	border-right: 1px solid lightgrey;
}
.rightSide
{
	width: 74%;
}
.leftSide > h2
{	
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	padding:34px 28px;
	font-weight: 500;
	border-bottom: 1px solid lightgrey;
	color: #34404d;
}
.tableLeftParent
{
	width: 100%;
}
.tableLeft
{
	width: 90%;
	margin: 0 auto;
}
.tableLeft > tbody > tr >td
{
	border : 0;
	padding-left: 10px;
	font-size: 12px;
	font-weight: 500;
}
.tableLeft > h2
{
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

.rightSide > table > tbody > tr > td
{
	padding: 11px;
}

.rightBottomTable > thead
{
	background: #51bfe4;
	color: white;
}
.rightBottomTable > thead > tr > th
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	border-bottom: 0;	
}

.rightBottomTable > tbody > tr > td 
{
	border-top: 0;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 500;
}
.roboto12
{
	font-size: 12px;
	font-family: 'Roboto', sans-serif;
}
.rightTopTable
{
	border: none;
}
.rightTopTable > tbody > tr > td > h2
{
	padding-bottom: 3px;
}
.rightTopTable > tbody > tr > td > h2,div
{	
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 500;
}
.rightTopTable > thead > tr > th
{
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 500;
	border: none;	
}
.rightTopTable > tbody > tr > td
{
	border-left: none;
}
.redColor
{
	color: #fe5c47 !important;
}
.greenColor
{
	color: green !important;	
}
.skyblueColor
{
	color: #4fa3d8 !important;
}
.orangeColor
{
	color: orange !important;
}
.backWhiteSmoke
{
	background: whitesmoke;
}
.tooltip.in
{
	opacity: 1;
}
.tooltip.top .tooltip-inner {
    background-color:white;
    color: #333;
	font-size: 12px;
	font-family: "Roboto";
	color: rgb(51, 51, 51);
	box-shadow: 0 0 2px 0 grey;
	font-weight: 500;
	padding: 8px;
	text-align: left;
	opacity: 1;
  }
.tooltip.left .tooltip-inner {
	background-color:white;
	color: #333;
	font-size: 12px;
	font-family: "Roboto";
	color: rgb(51, 51, 51);
	box-shadow: 0 0 2px 0 grey;
	font-weight: 500;
	padding: 8px;
	text-align: left;
	opacity: 1;
}
.tooltip.right .tooltip-inner {
	background-color:white;
	color: #333;
	font-size: 12px;
	font-family: "Roboto";
	color: rgb(51, 51, 51);
	box-shadow: 0 0 2px 0 grey;
	font-weight: 500;
	padding: 8px;
	text-align: left;
	opacity: 1;
}
.tooltip.left .tooltip-arrow {
	    border-left: 1px solid lightgrey;
		height: 12px;
		width: 9px;
		border-bottom: 1px solid lightgrey;
		transform: rotate(220deg);
		background: white;
    } 

.tooltip.top .tooltip-arrow {
	    border-left: 1px solid lightgrey;
		height: 12px;
		width: 9px;
		border-bottom: 1px solid lightgrey;
		transform: rotate(-45deg);
		background: white ;
		border-top-color:white;
    } 

.tooltip.right .tooltip-arrow {
	    border-left: 1px solid lightgrey;
		height: 12px;
		width: 9px;
		border-bottom: 1px solid lightgrey;
		transform: rotate(45deg);
		background: white;
		border-right-color:white;
    } 

.mainSectionAlarm
{
	padding:10px 35px;
	background: whitesmoke
}
.mainSectionAlarm > div
{
	display: flex;
	padding:0;
	background: white;
	border-radius: 5px;
}
.rightBottomTableTop
{
	padding:12px 15px;
}
.rightBottomTableTop .mCSB_container
{
	border: 1px solid lightgrey;
	border-radius: 10px;
}
.rightBottomTableLineHeight
{
	line-height: 9px;
} 
.resetButton:focus
{
	border: 0;
}
/* media query start from here */

@media (min-width: 280px) and (max-width: 480px) {
	.fetchDate {
		font-size: 8px !important;
		padding: 6px;
	}
	.iconsMenu>li {
		margin-right: 5px;
	}
	.search {
		width: 50% !important;
	}
}

@media (min-width: 480px) and (max-width: 1400px) {
	.fetchDate {
		font-size: 12px !important;
	}
	.custom-modal-width {
		width: 530px;
	}
}